<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Typography | BlueWhale Admin</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../static/css/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../static/css/layout.css" media="screen" />

       
    </script>
</head>
<body>
    <div class="container_12" style="background:url(../../static/img/universe.jpg)">
        <div class="grid_12 header-repeat">
            <div id="branding" style="background:url(../../static/img/universe.jpg)">
                <div class="floatleft">
                    <img /></div>
                <div class="floatright">
                    <div class="floatleft">
                        <img src="../../static/img/img-profile.jpg" alt="Profile Pic" /></div>
                    <div class="floatleft marginleft10">
                        <ul class="inline-ul floatleft">
                            <li>Hello Admin</li>
                            <li><a href="#">Config</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                        <br />
                        <span class="small grey">Last Login: 3 hours ago</span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
		
     <!--   <div class="grid_12">
            <ul class="nav main">
                <li class="ic-dashboard"><a href="dashboard.html"><span>Dashboard</span></a> </li>
                <li class="ic-form-style"><a href="javascript:"><span>Controls</span></a>
                    <ul>
                        <li><a >Forms</a> </li>
                        <li><a >Buttons</a> </li>
                        <li><a >Full Page Example</a> </li>
                        <li><a >Page with Sidebar Example</a> </li>
                    </ul>
                </li>
				<li class="ic-typography"><a href="typography.html"><span>Typography</span></a></li>
                <li class="ic-charts"><a href="charts.html"><span>Charts & Graphs</span></a></li>
                <li class="ic-grid-tables"><a href="table.html"><span>Data Table</span></a></li>
                <li class="ic-gallery dd"><a href="javascript:"><span>Image Galleries</span></a>
               		 <ul>
                        <li><a >Pretty Photo</a> </li>
                        <li><a >Gallery with Filter</a> </li>
                    </ul>
                </li>
                <li class="ic-notifications"><a ><span>Notifications</span></a></li>

            </ul>
        </div>-->
		
       
        <!--<div class="grid_2">
            <div class="box sidemenu">
                <div class="block" style="background:url(../../static/img/universe.jpg);border:solid;border-color:white;border-radius:8px;">
                    <ul class="section menu">
                        <li><a class>图片</a>
                            <ul class="submenu">
                                <li><a>Submenu 1</a> </li>
                                <li><a>Submenu 2</a> </li>
                                <li><a class="active">Submenu 3</a> </li>
                                <li><a>Submenu 4</a> </li>
                                <li><a>Submenu 5</a> </li>
                            </ul>
                        </li>
                        <li><a class="menuitem">文档</a>
                            <ul class="submenu">
                                <li><a>Submenu 1</a> </li>
                                <li><a>Submenu 2</a> </li>
                                <li><a>Submenu 3</a> </li>
                                <li><a>Submenu 4</a> </li>
                                <li><a>Submenu 5</a> </li>
                            </ul>
                        </li>
                        <li><a class="menuitem">视频</a>
                            <ul class="submenu">
                                <li><a>Submenu 1</a> </li>
                                <li><a>Submenu 2</a> </li>
                                <li><a>Submenu 3</a> </li>
                                <li><a>Submenu 4</a> </li>
                                <li><a>Submenu 5</a> </li>
                            </ul>
                        </li>
                        <li><a class="menuitem">种子</a>
                            <ul class="submenu">
                                <li><a>Submenu 1</a> </li>
                                <li><a>Submenu 2</a> </li>
                                <li><a>Submenu 3</a> </li>
                                <li><a>Submenu 4</a> </li>
                                <li><a>Submenu 5</a> </li>
                            </ul>
                        </li>
						  <a class="menuitem">+</a>
                           
                        </li>
						
                    </ul>
                </div>
            </div>
        </div>-->
		
	
    <script>
        window.onload=function(){
			var offsetWidth=0;
            var aA=document.getElementsByClassName("tomove");
            for(var i=0;i<aA.length;i++){
                aA[i].onmouseover=function(){
                    clearInterval(this.time)
                    var This=this;
                    This.time=setInterval(function(){
						offsetWidth+=8;
                        This.style.width=offsetWidth+"px";
                        if(This.offsetWidth>=160){
                                  clearInterval(This.time)
                        }
                    },30)
                }

                aA[i].onmouseout=function() {
                    clearInterval(this.time)
                    var This = this;
                    This.time = setInterval(function () {
						offsetWidth-=8;
                        This.style.width = offsetWidth + "px";
                        if (This.offsetWidth <= 80) {
                            This.style.width="80px";
                            clearInterval(This.time)
                        }
                    }, 30)
                }

            }
        }
    </script>

		 <style>
            #header {
                color:white;
                text-align:center;
                padding:10px;
                width:90%;
                float: right;
            }
            #nav {
                line-height:50px;
                height: 100%;
                width:10%;
                float:left;
                padding:5px;
                text-align:center;
            }
            #section {
                width:85%;
                float:left;
                padding:10px;
            }
            #footer {
                color:Black;
                clear:both;
                text-align:center;
                padding:5px;
            }
            p{
                color: white;
                height: 5%;
                border-bottom:1px dotted #ccc;
            }
            ul{
                padding:15px 0;
                margin: 0;
                list-style: none;
                color: white;
            }

            .tomove{
                text-decoration: none;
                display: block;
                height: 60px;
                line-height:  60px;
                padding-left: 12px;
                cursor: pointer;
                font-size:  14px;
                position: relative;
            }
            a:hover{
                text-decoration: none;
                background-color: white;
            }
            .backgroundImg{
                filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6; 
            }
        </style>
		<div id="nav">
           
            <ul>
                <li><a href="#" class="tomove" style="color: #005580">图片</a></li>
                <li><a href="#" class="tomove" style="color: #005580">文档</a></li>
                <li><a href="#" class="tomove" style="color: #005580">视频</a></li>
                <li><a href="#" class="tomove" style="color: #005580">音乐</a></li>
                <li><a href="#" class="tomove" style="color: #005580">种子</a></li>
                <li><a href="#" class="tomove" style="color: #005580">回收站</a></li>
            </ul>
        </div>
		
		
		
		
        <div class="grid_10">
            <div class="box round first grid">
                <h2>
                    全部文件</h2>
                <div class="block">
                    
                    
                    
                    <table class="data display datatable" id="example">
					<thead>
						<tr>
							<th>文件名</th>
							<th>文件大小</th>
							<th>修改日期</th>
							<th>上传日期</th>
							<th>文件类型</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="even gradeC">
							<td>Trident</td>
							<td>Internet
								 Explorer 5.0</td>
							<td>Win 95+</td>
							<td class="center">5</td>
							<td class="center">C</td>
						</tr>
						<tr class="odd gradeA">
							<td>Trident</td>
							<td>Internet
								 Explorer 5.5</td>
							<td>Win 95+</td>
							<td class="center">5.5</td>
							<td class="center">A</td>
						</tr>
						<tr class="even gradeA">
							<td>Trident</td>
							<td>Internet
								 Explorer 6</td>
							<td>Win 98+</td>
							<td class="center">6</td>
							<td class="center">A</td>
						</tr>
						<tr class="odd gradeA">
							<td>Trident</td>
							<td>Internet Explorer 7</td>
							<td>Win XP SP2+</td>
							<td class="center">7</td>
							<td class="center">A</td>
						</tr>
						<tr class="even gradeA">
							<td>Trident</td>
							<td>AOL browser (AOL desktop)</td>
							<td>Win XP</td>
							<td class="center">6</td>
							<td class="center">A</td>
						</tr>
						<tr class="gradeA">
							<td>Gecko</td>
							<td>Firefox 1.0</td>
							<td>Win 98+ / OSX.2+</td>
							<td class="center">1.7</td>
							<td class="center">A</td>
						</tr>
						<tr class="gradeA">
							<td>Gecko</td>
							<td>Firefox 1.5</td>
							<td>Win 98+ / OSX.2+</td>
							<td class="center">1.8</td>
							<td class="center">A</td>
						</tr>
						<tr class="gradeA">
							<td>Gecko</td>
							<td>Firefox 2.0</td>
							<td>Win 98+ / OSX.2+</td>
							<td class="center">1.8</td>
							<td class="center">A</td>
						</tr>
						<tr class="gradeA">
							<td>Gecko</td>
							<td>Firefox 3.0</td>
							<td>Win 2k+ / OSX.3+</td>
							<td class="center">1.9</td>
							<td class="center">A</td>
						</tr>
						<tr class="gradeA">
							<td>Gecko</td>
							<td>Camino 1.0</td>
							<td>OSX.2+</td>
							<td class="center">1.8</td>
							<td class="center">A</td>
						</tr>
						<tr class="gradeA">
							<td>Gecko</td>
							<td>Camino 1.5</td>
							<td>OSX.3+</td>
							<td class="center">1.8</td>
							<td class="center">A</td>
						</tr>
						<tr class="gradeA">
							<td>Gecko</td>
							<td>Netscape 7.2</td>
							<td>Win 95+ / Mac OS 8.6-9.2</td>
							<td class="center">1.7</td>
							<td class="center">A</td>
						</tr>
						<tr class="gradeA">
							<td>Gecko</td>
							<td>Netscape Browser 8</td>
							<td>Win 98SE+</td>
							<td class="center">1.7</td>
							<td class="center">A</td>
						</tr>
						<tr class="gradeA">
							<td>Gecko</td>
							<td>Netscape Navigator 9</td>
							<td>Win 98+ / OSX.2+</td>
							<td class="center">1.8</td>
							<td class="center">A</td>
						</tr>
						<tr class="gradeA">
							<td>Gecko</td>
							<td>Mozilla 1.0</td>
							<td>Win 95+ / OSX.1+</td>
							<td class="center">1</td>
							<td class="center">A</td>
						</tr>
					
					</tbody>
				</table>
                    
                    
                    
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
   
</body>
</html>
